<card-wrapper title="Radio">
    <nz-radio-group [ngModel]="value">
        <label nz-radio nzValue="A">A</label>
        <label nz-radio nzValue="B">B</label>
        <label nz-radio nzValue="C">C</label>
        <label nz-radio nzValue="D">D</label>
    </nz-radio-group>

    <nz-radio-group [ngModel]="value">
        <label nz-radio-button nzValue="A">Hangzhou</label>
        <label nz-radio-button nzValue="B">Shanghai</label>
        <label nz-radio-button nzValue="C">Beijing</label>
        <label nz-radio-button nzValue="D">Chengdu</label>
    </nz-radio-group>
</card-wrapper>
