<main>
    <ui-button></ui-button>
    <ui-dropdown></ui-dropdown>
    <ui-menu></ui-menu>
    <ui-page-header></ui-page-header>
    <ui-pagination></ui-pagination>
    <ui-auto-complete></ui-auto-complete>
    <ui-cascader></ui-cascader>
    <ui-checkbox></ui-checkbox>
    <ui-color-picker></ui-color-picker>
    <ui-date-picker></ui-date-picker>
    <ui-input></ui-input>
    <ui-input-number></ui-input-number>
    <ui-mention></ui-mention>
    <ui-radio></ui-radio>
    <ui-select></ui-select>
    <ui-time-picker></ui-time-picker>
    <ui-transfer></ui-transfer>
    <ui-tree-select></ui-tree-select>
    <ui-upload></ui-upload>
    <ui-badge></ui-badge>
    <ui-calendar></ui-calendar>
    <ui-carousel></ui-carousel>
    <ui-collapse></ui-collapse>
    <ui-description></ui-description>
    <ui-list></ui-list>
    <ui-popover></ui-popover>
    <ui-qr-code></ui-qr-code>
    <ui-segmented></ui-segmented>
    <ui-statistic></ui-statistic>
    <ui-table></ui-table>
    <ui-tabs></ui-tabs>
    <ui-tags></ui-tags>
    <ui-tooltip></ui-tooltip>
    <ui-tree></ui-tree>
    <ui-alert></ui-alert>
    <ui-message></ui-message>
    <ui-modal></ui-modal>
    <ui-notification></ui-notification>
    <ui-popconfirm></ui-popconfirm>
    <ui-result></ui-result>
    <ui-skeleton></ui-skeleton>
</main>
