:host {
    ::ng-deep {
        form {
            inline-size: 100%;

            .cta-wrapper {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}
