<card-wrapper title="Tree select">
    <nz-tree-select
        style="width: 250px"
        [nzExpandedKeys]="expandKeys"
        [nzNodes]="nodes"
        nzShowSearch
        nzPlaceHolder="Please select"
        [(ngModel)]="value"
        (ngModelChange)="onChange($event)"
    ></nz-tree-select>

    <nz-tree-select
        style="width: 250px"
        [(ngModel)]="value"
        [nzNodes]="nodes"
        (ngModelChange)="onChange($event)"
        nzShowSearch
        nzCheckable
        nzPlaceHolder="Please select"
    ></nz-tree-select>
</card-wrapper>
